.app__footer {

    flex: 1;
    width: 100%;
    flex-direction: column;
    background-color: white;
    height: 1000px;
}
@media screen and (max-width: 768px) {
    .app_footer {
      flex-direction: column;
    }
  }

  .app__footer-cards .app__footer-card:last-child {
    background-color: #f2f7fb;
  }

  .app__footer-cards .app__footer-card:last-child:hover {
    box-shadow: 0 0 25px #f2f7fb;
  }

  .app__footer-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 2em 2rem 2rem;
  }

  .app__footer-cards .app__footer-card {
    min-width: 290px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin: 1rem 1rem;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;    
    background-color: #fef4f5;
    transition: all 0.3s ease-in-out;
  }

  .app__footer-cards .app__footer-card:hover {
    
     box-shadow: 0 0 25px #fef4f5;
    
  }

.app__footer-card img {
    width: 40px;
    height: 40px;
    margin: 0 0.7rem;
  }

  .app__footer-card a {
    text-decoration: none;
    font-weight: 700;
    font-size: 25px;
  }

  @media screen and (max-width: 450px) {
    .app__footer-card {
      width: 100%
    }
  }

  .app__footer-form {
    width: 100%;
    flex-direction: column;
    margin: 2rem 0rem;
  }

  .app__footer-form div {
    width: 70%;
    margin: 0.75rem 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: #edf2f8;
    transition: all 0.3s ease-in-out;
  }
  .app__footer-form input {
    width: 100%;
    padding: 0.95rem;
    border: none;
    border-radius: 7px;
    background-color: #edf2f8;
    font-family: "DM Sans", sans-serif;
    color: #313bac;
    outline: none;
  }

  .app__footer-form textarea {
    width: 100%;
    padding: 0.95rem;
    border: none;
    border-radius: 7px;
    background-color: #edf2f8;
    font-family: "DM Sans", sans-serif;
    color: #313bac;
    outline: none; 
    height: 250px;
   
  }

  .app__footer-form input:hover {
    box-shadow: 0 0 25px #edf2f8
  }

  .app__footer-form textarea:hover {
    box-shadow: 0 0 25px #edf2f8;
  }

  .app__footer-form button {
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    background-color: #313bac;

    font-weight: 500;
    color: #ffffff;
    outline: none;
    margin: 2rem 0 0 0;
    font-family: "DM Sans", sans-serif;

    transition: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    cursor: pointer;
}

.app__footer-form button:hover {
    background-color: #2430af;
  }

  @media screen and (max-width: 768px) {

    .app__footer-form {
      width: 100%;
      margin: 1rem 0;
    }
  }
 .logo-img {
 margin-top: -15px;
 }
 
 @media screen and (max-width: 425px) {
  .logo {
    font-size: 25px;
    padding-top: 55px;
  }
 }